<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="js/Vue.js"></script>
		<title></title>
	    <style>
	    	*{
	    		margin: 0;
	    		padding: 0;
	    		list-style: none;
	    	}
	    	input{
	    		width: 80%;
	    		height: 30px;
	    		display: block;
	    		margin: 10px auto;
	    	}
	    	li{
	    		text-indent: 36px;
	    		line-height: 30px;
	    	}
	    	li:hover{
	    		background: yellow;
	    	}
	    </style>	
	</head>
	<body>
		<div id="box">
			<input type="text"  v-model="t1" @keyup="get($event)" @keydown.down.prevent="changeDown()" @keydown.up.prevent="changeUp()"/>
			<ul>
				<li v-for="value in myData" :class="{gray:$index==now}">{{value}}</li>
			</ul>
		</div>
		<script src="js/vue-resource.js" type="text/javascript" charset="utf-8"></script>
		<script>
			window.onload = function() {
				new Vue({
					el: 'body',
					data: {
						myData: [],
						t1: '',
						now: -1
					},
					methods: {
						get: function(ev) {
							if(ev.keyCode == 38 || ev.keyCode == 40) {
								return;
							}
							if(ev.keyCode == 13) {
								window.open('https://www.baidu.com/s?wd=' + this.t1);
								this.t1 = '';
							}
							this.$http.jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su', {
								wd: this.t1
							}, {
								jsonp: 'cb'
							}).then(function(res) {
								this.myData = res.data.s;
							}, function() {});
						},
						changeDown: function() {
							
							this.now++;
							if(this.now == this.myData.length) this.now = -1;
							this.t1 = this.myData[this.now];
						},
						changeUp: function() {
							this.now--;
							if(this.now == -2) this.now = this.myData.length - 1;
							this.t1 = this.myData[this.now];
						}
					}
				});
			};
		</script>
	</body>
</html>
